<div class="dj-queue p-1 border d-flex justify-content-between align-items-center" style="height: 60px;">
  <div class="d-flex">
    <% djs.each do |dj| %>
      <div class="rounded-circle p-0 d-flex align-items-center justify-content-center mx-2" style="width: 60px; height: 60px; border: 2px solid #1DB954;">
        <span class="text-uppercase font-weight-bold" style="font-size: 24px;">
          <%= dj.name[0] %><%= dj.name[-1] %>
        </span>
      </div>
    <% end %>
  </div>

  <% if @user.in?(@djs) %>
    <%= button_to "Step Down", room_rooms_user_path(room), method: :delete, class: "btn" %>
  <% else %>
    <%= button_to "Step Up", "/rooms/#{room.id}/rooms_users", method: :post, class: "btn" %>
  <% end %>

</div>
