
<div class="img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507676184212-d03ab07a01bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2338&q=80); background-size: cover; background-position: center; height: 100vh;">
    <header class="text-white text-center d-flex flex-column justify-content-center align-items-center h-100">
      <h1 class="fs-1 fw-bold font-monospace mb-5">Welcome to Groovx</h1>
      <p class="fs-4 fw-lighter mb-5">The best place to enjoy music.</p>
      <%= link_to "Enter", rooms_path, class: "btn btn-success btn-lg mx-2 rounded-pill px-4 py-2" %>
      </header>
</div>
