<h1 class="text-center my-3">My Rooms</h1>

<% if current_user.rooms.any? %>
  <div class="row m-5">
  <% @rooms.each do |room| %>
     <div class="col-md-3">
      <%= render 'shared/card',
          title: room.name,
          max_djs: room.max_djs,
          description: room.description,
          image: room.image_url,
          link: room_path(room.id) %>
    </div>
  <% end %>
</div>
<% else %>
  <p class="text-center my-5">You haven't created any room yet.</p>
  <p class="text-center my-5"><a href="<%= new_room_path %>">Create a new room</a></p>
<% end %>
