// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #191414;
  color: #FFFFFF;
}

.navbar {
  background-color: #191414;
  color: #FFFFFF;
}

.nav-link {
  background-color: #191414;
  color: #FFFFFF;
}

.btn {
  background-color: #1DB954;
  color: #FFFFFF;
  border-radius: 10px;
}

.custom-rounded {
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  background-color: #191414;
  color: #FFFFFF;
}

.custom-card {
  text-decoration: none;
  color: inherit;

  .card {
    margin-bottom: 4rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px; // Adjust as per your needs
  }

  .image-container {
    height: 175px;
    overflow: hidden;
    position: relative;

    img.card-img-top {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .overlay-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
  }
}
